/* ----------------------  header  is   start  ---------------------- */
#header{
    background-color: red;
    color: white;
    height: auto;
    /* position: sticky;
    top: 0; */
}
a{
    text-decoration: none;
    color: white;
}
#header #row{
    font-size: 150%;
}
#header .col-6{
    font-weight: bolder;
    font-size:150% ;
}
#header .col-1{
    margin-top:0.5%;
}
#header button{
    width: 110%;
    height: 95%;
    background-color: black;
    margin-top: -10%;
    margin-left:-7%;
}