/* ----------------------  header  is   start  ---------------------- */
#header{
    background-color: red;
    color: white;
    height: auto;
}
#header a{
    text-decoration: none;
    color: white;
}
#header #row{
    font-size: 150%;
}
#header .col-6{
    font-weight: bolder;
    font-size:150% ;
}
#header .col-1{
    margin-top:0.5%;
}
#header button{
    width: 110%;
    height: 95%;
    background-color: black;
    margin-top: -10%;
    margin-left:-7%;
}
/* ----------------------header  is   end ---------------------- */

/* ----------------------footer  is   start ---------------------- */
#footer{
    background-color: red;
    text-align: center;
    font-weight: lighter;
    color: white;
    line-height: 95%;
    font-size: 75%;
}
#footer p{
    letter-spacing: 8px;
}

/* ----------------------footer  is   end ---------------------- */

/* ----------------------about  name  is  start ---------------------- */

#name{
    padding: 5% 13% 5% 16%;
}
#name #nameimg img{
    height: 500px;
    width: 500px;
    align-items: flex-end;
}
#red{
    color: red;
}
#name h1{
    font-weight: 700;
    font-size: 220%;
}
#name p{
    font-size: 115%;
    text-indent: 100px;
}
/* ----------------------about  name  is  end---------------------- */


/* ----------------------about  mess  is  start ---------------------- */
#mess{
    padding: 5% 16% 5% 17%;
}
#mess img{
    height: 500px;
    width: 500px;
}
#mess h1{
    font-weight: 700;
    font-size: 220%;
}
#mess p{
    font-size: 115%;
    text-indent: 100px;
}

/* ----------------------about  mess  is  end ---------------------- */
